/* @import './base.css'; */
@import '../../node_modules/materialize-css/dist/css/materialize.min.css';
@import '../scss/index.scss';

@import '../../node_modules/nouislider/dist/nouislider.css';



#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

